@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

/* ----- NAVBAR ----- */
.navbar {
  background-color: #333;
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 15px auto 40px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.navbar h1 a {
  color: #0099ff;
  margin-left: 0;
  transition: all 0.3s;
}
.navbar h1 a:hover {
  color: #fff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #fff;
  transition: all 0.3s;
}
.navbar a:hover {
  color: #0099ff;
}
.new-blog {
  background: #0099ff;
  border-radius: 8px;
  color: #fff;
}
.new-blog:hover {
  color: #333 !important;
}

/* ----- CONTENT ----- */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 0 0px 1px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: inset 0 -1px 15px rgba(0, 0, 0, 0.1),
    6px 8px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.home,
.blog-details,
.not-found {
  padding: 0 20px;
}

/* ----- BLOG PREVIEWS ----- */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  transition: all 0.3s;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #0099ff;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* ----- BLOG DETAILS ----- */
.blog-details h2 {
  font-size: 20px;
  color: #0099ff;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 30px 0;
}
.blog-details button {
  background: #0099ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.blog-details button:hover {
  background: #23a5fc;
}

/* ----- CREATE NEW BLOG FORM ----- */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #0099ff;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #0099ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.create button:hover {
  background: #23a5fc;
}

/* ----- FOOTER ----- */
.footer {
  font-size: 14px;
  padding: 10px 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 600px;
  margin: 20px auto;
  border-top: 1px solid #f2f2f2;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: all 0.3s;
}
.footer a:hover {
  color: #0099ff;
}

/* ----- NOT FOUND ----- */
.not-found a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: all 0.3s;
}
.not-found a:hover {
  color: #0099ff;
}
.not-found span {
  color: red;
}
/* ----- LOADER ----- */
.loader {
  color: #0099ff;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto !important;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
